<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentByGradeServlet</servlet-name>
  	<display-name>StudentByGradeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.StudentByGradeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectWiseRankServlet</servlet-name>
  	<display-name>SubjectWiseRankServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.SubjectWiseRankServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<display-name>UserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewScoreRangeServlet</servlet-name>
  	<display-name>ViewScoreRangeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.ViewScoreRangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DefineScoreRangeServlet</servlet-name>
  	<display-name>DefineScoreRangeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.DefineScoreRangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteScoreRangeServlet</servlet-name>
  	<display-name>DeleteScoreRangeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.DeleteScoreRangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentResultServlet</servlet-name>
  	<display-name>StudentResultServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.StudentResultServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMarkServlet</servlet-name>
  	<display-name>UpdateMarkServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.UpdateMarkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GradeWiseListServlet</servlet-name>
  	<display-name>GradeWiseListServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.gradingsystem.servlet.GradeWiseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentByGradeServlet</servlet-name>
  	<url-pattern>/StudentByGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectWiseRankServlet</servlet-name>
  	<url-pattern>/SubjectWiseRankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewScoreRangeServlet</servlet-name>
  	<url-pattern>/ViewScoreRangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DefineScoreRangeServlet</servlet-name>
  	<url-pattern>/DefineScoreRangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteScoreRangeServlet</servlet-name>
  	<url-pattern>/DeleteScoreRangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentResultServlet</servlet-name>
  	<url-pattern>/StudentResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMarkServlet</servlet-name>
  	<url-pattern>/UpdateMarkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GradeWiseListServlet</servlet-name>
  	<url-pattern>/GradeWiseListServlet</url-pattern>
  </servlet-mapping>
</web-app>
